@import url(bootstrap-reboot.min.css);
@font-face {
  font-family: "PT Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/PT_Sans/PT_Sans-Web-Regular.eot");
  src: url("../../fonts/PT_Sans/PT_Sans-Web-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/PT_Sans/PT_Sans-Web-Regular.woff") format("woff"), url("../../fonts/PT_Sans/PT_Sans-Web-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PT Sans";
  font-weight: bold;
  font-style: normal;
  src: url("../../fonts/PT_Sans/PT_Sans-Web-Bold.eot");
  src: url("../../fonts/PT_Sans/PT_Sans-Web-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/PT_Sans/PT_Sans-Web-Bold.woff") format("woff"), url("../../fonts/PT_Sans/PT_Sans-Web-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "PT Sans";
  font-weight: italic;
  font-style: normal;
  src: url("../../fonts/PT_Sans/PT_Sans-Web-Italic.eot");
  src: url("../../fonts/PT_Sans/PT_Sans-Web-Italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/PT_Sans/PT_Sans-Web-Italic.woff") format("woff"), url("../../fonts/PT_Sans/PT_Sans-Web-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "PT Sans";
  font-weight: bold italic;
  font-style: normal;
  src: url("../../fonts/PT_Sans/PT_Sans-Web-BoldItalic.eot");
  src: url("../../fonts/PT_Sans/PT_Sans-Web-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/PT_Sans/PT_Sans-Web-BoldItalic.woff") format("woff"), url("../../fonts/PT_Sans/PT_Sans-Web-BoldItalic.ttf") format("truetype");
}

body {
  font: 15px "PT Sans", sans-serif;
}

.container-1170 {
  max-width: 70%;
  margin: 0 auto;
  transform: skewY(6.3deg);
}

.container-1170-rev {
  max-width: 70%;
  margin: 0 auto;
  transform: skewY(-6.3deg);
}

header {
  background-color: #222222;
}

.header {
  position: relative;
  height: 1300px;
  background-color: #222222;
  transform: skewY(-6.3deg);
}

.header::after {
  display: block;
  content: "";
  width: 100%;
  height: 300px;
  transform: skewY(6.3deg);
  background-color: #222222;
}

svg {
  width: 100%;
  height: auto;
  display: block;
}

.triangle-topleft {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 17%;
  height: auto;
}

.triangle-topleft-yellow {
  z-index: 11;
  position: absolute;
  top: 47.53%;
  left: 47.53%;
  width: 17.44%;
  height: auto;
}

.triangle-bottomleft-yellow {
  z-index: 10;
  position: absolute;
  top: 715px;
  left: 0;
  width: 20.82%;
  height: auto;
}

.triangle-bottomleft-orange {
  z-index: 10;
  position: absolute;
  top: 815px;
  left: 0;
  width: 69%;
  height: auto;
}

.triangle-right-yellow {
  z-index: 10;
  position: absolute;
  top: -100px;
  right: 0;
  width: 20%;
  height: auto;
}

.triangle-right-orange {
  z-index: 10;
  position: absolute;
  top: 30%;
  right: 0;
  width: 29%;
  height: auto;
}

.top {
  z-index: 12;
  position: relative;
  height: 1130px;
  background-color: #dde6e8;
  transform: skewY(-6.3deg);
}

.inches-10 {
  z-index: 12;
  position: relative;
  height: 880px;
  background-color: #fff;
  transform: skewY(6.3deg);
  margin-top: -210px;
}

.inches-105 {
  z-index: 12;
  position: relative;
  height: 880px;
  background-color: #ffae00;
  transform: skewY(-6.3deg);
  margin-top: -210px;
}

.inches-105minirobot {
  z-index: 12;
  position: relative;
  height: 880px;
  background-color: #212121;
  transform: skewY(6.3deg);
  margin-top: -210px;
}

.footer {
  height: 210px;
  width: 100%;
  position: absolute;
  margin-top: -105px;
  background-color: #050505;
  z-index: 150;
}

.footer::before {
  content: "";
  display: block;
  position: absolute;
  height: 210px;
  width: 100%;
  background-color: #050505;
  transform: skewY(-6.3deg);
  z-index: 15;
  margin-top: -105px;
}

.top-header {
  z-index: 15;
  height: 110px;
  border-bottom: 1px dotted #f8de01;
  transform: skewY(6.3deg);
}

.top-header-inner {
  max-width: 70%;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  margin: 17px 0 0 0;
}

.tel {
  background: url("../img/tel_ico.png") 0 1px no-repeat;
  margin-top: 43px;
  padding-left: 30px;
}

.tel__messengers {
  font: 12px "PT Sans", sans-serif;
  color: #fff;
}

.tel__number {
  font: 12px "PT Sans", sans-serif;
  color: #ffae00;
  letter-spacing: 0.22em;
}

.nav {
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  z-index: 11;
}

.nav__item {
  border-right: 1px solid #ffae00;
  display: inline-block;
  font: 15px "PT Sans", sans-serif;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  flex-grow: 1;
  cursor: pointer;
  z-index: 11;
}

.nav__item:hover {
  color: #f8de01;
  text-decoration: none;
}

.nav__item:active {
  color: #ffae00;
  text-decoration: none;
}

.nav__item:last-of-type {
  border-right: none;
}

.bottom-header {
  height: 660px;
  padding-top: 142px;
  background: url("../img/background.png") 80% 50% no-repeat;
}

.bottom-header__h1 {
  width: 100%;
  font: bold italic 65px "PT Sans", sans-serif;
  color: #ffffff;
  text-shadow: #222222 1px 1px 0, #222222 -1px -1px 0, #222222 -1px 1px 0, #222222 1px -1px 0;
  text-transform: uppercase;
}

.bottom-header__h2 {
  width: 100%;
  font: 16px "PT Sans", sans-serif;
  color: #ffffff;
  margin-top: 30px;
}

.bottom-header__button {
  margin-top: 30px;
  width: 165px;
  height: 50px;
  transform: skewX(-30deg);
  border: 1px solid #9cf801;
  cursor: pointer;
  background-color: none;
}

.bottom-header__button * {
  width: 100%;
  height: 100%;
  font: 20px "PT Sans", sans-serif;
  color: #9cf801;
  transform: skewX(30deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-header__button *:hover {
  text-decoration: none;
  color: #fff;
}

.bottom-header__button:hover {
  border-color: #fff;
}

.header-cards {
  position: absolute;
  top: -505px;
  z-index: 200;
}

.header-cards__card-by, .header-cards__card-yb {
  margin-top: 30px;
}

.card-by__gyrobord {
  position: absolute;
  top: 12%;
  left: 42%;
  max-width: 50%;
}

.card-by__gyrobord-ninebot {
  position: absolute;
  top: 12%;
  left: 57%;
  max-width: 34%;
  -webkit-background-size: contain;
  background-size: contain;
}

.card-by__header {
  position: absolute;
  top: 16%;
  left: 10%;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
}

.card-by__description {
  position: absolute;
  top: 50%;
  left: 10%;
  color: #ffffff;
  font-size: 16px;
}

.card-by__choice {
  position: absolute;
  top: 82%;
  left: 10%;
  color: #f8de01;
  font-size: 16px;
}

.card-yb__gyrobord {
  position: absolute;
  top: 12%;
  left: 42%;
  max-width: 50%;
}

.card-yb__header {
  position: absolute;
  top: 16%;
  left: 10%;
  color: #000;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
}

.card-yb__description {
  position: absolute;
  top: 50%;
  left: 10%;
  color: #000;
  font-size: 16px;
}

.card-yb__choice {
  position: absolute;
  top: 82%;
  left: 10%;
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

@media screen and (min-width: 992px) and (max-width: 1500px) {
  .nav__item {
    font-size: 12px;
  }
  .bottom-header {
    background-position: 100% 50%;
  }
}

@media screen and (max-width: 1500px) {
  .card-by__header, .card-yb__header {
    font-size: 18px;
  }
  .card-by__description, .card-yb__description {
    font-size: 14px;
  }
  .card-by__choice, .card-yb__choice {
    font-size: 14px;
  }
}

@media screen and (max-width: 1170px) {
  .card-by__header, .card-yb__header {
    font-size: 16px;
  }
  .card-by__description, .card-yb__description {
    font-size: 12px;
  }
  .card-by__choice, .card-yb__choice {
    font-size: 12px;
  }
}

@media screen and (min-width: 767.9px) and (max-width: 1169.9px) {
  .card-by__header, .card-yb__header {
    font-size: 14px;
  }
  .card-by__description, .card-yb__description {
    font-size: 11px;
    line-height: 1.1;
  }
  .card-by__choice, .card-yb__choice {
    font-size: 11px;
  }
}

@media screen and (max-width: 460px) {
  .card-by__header, .card-yb__header {
    font-size: 12px;
  }
  .card-by__description, .card-yb__description {
    font-size: 11px;
    line-height: 1.1;
  }
  .card-by__choice, .card-yb__choice {
    font-size: 11px;
  }
}

@media screen and (max-width: 767.9px) {
  .header {
    height: 1900px;
  }
  .header-cards {
    top: -1105px;
  }
  .top {
    height: 1730px;
  }
  .inches-10, .inches-105, .inches-105minirobot {
    height: 1490px;
  }
}

@media screen and (min-width: 1110px) and (max-width: 1260px) {
  .tel__messengers {
    font: 10px "PT Sans", sans-serif;
    color: #fff;
  }
  .tel__number {
    font: 11px "PT Sans", sans-serif;
    color: #ffae00;
    letter-spacing: 0.17em;
  }
}

@media screen and (min-width: 992px) and (max-width: 1109.9px) {
  .tel {
    padding: 2px 0px 0px 30px;
  }
  .tel__messengers {
    font: 8px "PT Sans", sans-serif;
    color: #fff;
  }
  .tel__number {
    font: 10px "PT Sans", sans-serif;
    color: #ffae00;
    letter-spacing: 0.12em;
  }
}

@media screen and (max-width: 630px) {
  .tel {
    padding: 3px 0px 0px 30px;
  }
  .top-header-inner {
    max-width: 75%;
  }
  .container-1170 {
    max-width: 75%;
  }
  .tel__messengers {
    font: 8px "PT Sans", sans-serif;
    color: #fff;
  }
  .tel__number {
    font: 10px "PT Sans", sans-serif;
    color: #ffae00;
    letter-spacing: 0.12em;
  }
  .triangle-right-orange {
    right: 0;
    width: 27.2%;
    height: auto;
  }
}

@media screen and (max-width: 991.9px) {
  .top-header {
    height: 150px;
  }
  .nav {
    margin-top: 30px;
  }
  .nav__item {
    font-size: 12px;
  }
  .triangle-right-orange {
    width: 28%;
    height: auto;
  }
  .bottom-header {
    background-position: 130% 50%;
    -webkit-background-size: contain;
    background-size: contain;
  }
}

@media screen and (max-width: 540px) {
  .bottom-header {
    background-position: 170% 30%;
    background-size: contain;
  }
  .bottom-header__h1 {
    font-size: 45px;
  }
  .header {
    height: 1550px;
  }
  .header-cards {
    top: -905px;
  }
}

@media screen and (max-width: 820px) {
  .bottom-header__button {
    margin-top: 30px;
    width: 165px;
    height: 50px;
    transform: skewX(-30deg);
    border: 1px solid #000000;
    cursor: pointer;
    background-color: #9cf801;
  }
  .bottom-header__button * {
    width: 100%;
    height: 100%;
    font: 20px "PT Sans", sans-serif;
    color: #000000;
    transform: skewX(30deg);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bottom-header__button *:hover {
    text-decoration: none;
    color: #000000;
  }
  .bottom-header__button:hover {
    border-color: #fff;
  }
}

@media screen and (max-width: 375px) {
  .tel {
    padding: 5px 0px 0px 30px;
  }
  .tel__messengers {
    font: 6px "PT Sans", sans-serif;
    color: #fff;
  }
  .tel__number {
    font: 8px "PT Sans", sans-serif;
    color: #ffae00;
    letter-spacing: 0.1em;
  }
  .header {
    height: 1450px;
  }
  .header-cards {
    top: -750px;
  }
}

.top__container {
  padding-top: 150px;
}

.top__header {
  text-align: center;
  font-size: 60px;
  font-weight: normal;
  text-transform: uppercase;
}

.top__triangle {
  margin: 41px auto 0 auto;
  width: 54px;
}

.top__header-h3 {
  margin: 50px 0 50px 0;
  font-size: 30px;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}

.top__more {
  width: 210px;
  height: 50px;
  transform: skewX(-30deg);
  border: 1px solid #212121;
  cursor: pointer;
  margin-top: 100px;
  margin-right: 15px;
  float: right;
}

.top__more * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  transform: skewX(30deg);
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

.top__more-link:hover {
  color: #000000;
  text-decoration: none;
}

@media screen and (min-width: 767.9px) and (max-width: 1200px) {
  .top__container {
    padding-top: 100px;
  }
  .top__header {
    font-size: 50px;
  }
}

@media screen and (max-width: 767.9px) {
  .top__header {
    font-size: 45px;
  }
  .top__header-h3 {
    font-size: 22px;
  }
}

@media screen and (min-width: 1500px) {
  .top__container_first {
    padding-top: 250px;
  }
  .top {
    height: 1330px;
  }
}

.card {
  width: 100%;
  height: 260px;
  border: 1px solid #dfdfdf;
  background-color: #ffffff;
}

.card__top {
  height: 200px;
  padding: 10px;
}

.card__link {
  display: block;
  width: 100%;
  height: 200px;
}

.card__link:hover .card__header {
  display: inline-block;
  text-decoration: none;
}

.card__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 180px;
}

.card__header {
  font-size: 14px;
  color: #000000;
}

.card__bottom {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 60px;
  margin: 10px;
  padding-top: 10px;
  border-top: 1px solid #dfdfdf;
}

.card__price {
  font-size: 12px;
  font-weight: normal;
}

.card__more {
  color: #404040;
  font-size: 11px;
  text-decoration: underline;
}

.card__more:hover {
  color: #404040;
}

.card__button {
  width: 80px;
  height: 22px;
  transform: skewX(-30deg);
  background-color: #f8de01;
  border-bottom: 1px solid #9cf801;
  margin-right: 6px;
  cursor: pointer;
}

.card__button * {
  display: block;
  width: 100%;
  height: 22px;
  transform: skewX(30deg);
  color: #000000;
  font-size: 12px;
  padding-top: 3px;
  font-weight: normal;
  text-align: center;
}

@media screen and (max-width: 767.9px) {
  .card {
    margin-top: 30px;
  }
  .card__button {
    width: 95px;
  }
}

@media screen and (max-width: 900px) and (min-width: 767.9px) {
  .card__button {
    width: 55px;
  }
}

.inches-10__header-h3 {
  margin-top: -30px;
}

.inches-10__more {
  float: left;
  margin-left: 15px;
}

.inches-105__more {
  float: right;
  margin-right: 15px;
}

.inches-105miniribot__header-h3 {
  color: #ffffff;
}

.inches-105minirobot__more {
  border-color: #ffffff;
}

.inches-105minirobot__more-link {
  color: #ffffff;
}

.inches-105minirobot__more-link:hover {
  color: #ffffff;
}

.footer__wrap {
  max-width: 70%;
  margin: 0 auto;
}

.footer__logo {
  z-index: 100;
  margin-top: 60px;
}

.footer__tel {
  z-index: 100;
  margin-top: 88px;
}

.footer__smm {
  z-index: 100;
}

.smm__p {
  font-size: 11px;
  font-weight: normal;
  color: #ffffff;
  margin: 74px 0 5px 0;
}

.footer__nav {
  margin-top: 0;
  display: flex;
  flex-flow: column wrap;
  z-index: 110;
}

.footer__item {
  text-align: right;
  border: none;
}

@media screen and (max-width: 991.9px) {
  .footer__logo {
    margin-top: -30px;
  }
  .footer__tel {
    margin-top: 10px;
  }
  .footer__item {
    text-align: left;
  }
  .footer__nav {
    margin-top: 30px;
  }
}
