.top__container
  padding-top: 150px

.top__header
  text-align: center
  font-size: 60px
  font-weight: normal
  text-transform: uppercase

.top__triangle
  margin: 41px auto 0 auto
  width: 54px

.top__header-h3
  margin: 50px 0 50px 0
  font-size: 30px
  text-align: center
  font-weight: normal
  text-transform: uppercase

.top__more
  width: 210px
  height: 50px
  transform: skewX(-30deg)
  border: 1px solid #212121
  cursor: pointer
  margin-top: 100px
  margin-right: 15px
  float: right

.top__more *
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 50px
  transform: skewX(30deg)
  color: #000000
  font-size: 20px
  font-weight: bold

.top__more-link:hover
  color: #000000
  text-decoration: none


@media screen and (min-width: 767.9px) and (max-width: 1200px)
  .top__container
    padding-top: 100px

  .top__header
    font-size: 50px

@media screen and (max-width: 767.9px)
  .top__header
    font-size: 45px

  .top__header-h3
    font-size: 22px

@media screen and (min-width: 1500px)
  .top__container
    padding-top: 250px

  .top
    height: 1330px
